*{
    font-size: 16px;
    margin: 0;
    background-color: white;
}


/* LOGO */
.logo img{
    width: 10rem;
}

.logo{
    padding: 1rem;
}

/* Navigation */
nav{
    background-color: #a5a5a5;
    position: fixed;
    z-index: 99;
    width: 100%;
}

.nav-links{
    text-decoration: none;
    list-style-type: none;
    width: auto;
    color: #45413e;
    font-family: 'Lato';
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}

nav .wrapper{    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapper .nav-links{
    display: inline-flex;
  }

  .nav-links li a{
    color: #45413e;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .nav-links li a i.grey{
    opacity: 0.70;
    color: gray;
  }

  /* Mega-box menu */

  .mega-box{
    position: absolute;
    left: 0;
    width: 100%;
    top: 85px;
    padding: 0;
 
  }

  .nav-links .mega-box{
    opacity: 0;
    visibility: hidden;
  }

  .nav-links li:hover .mega-box{
    opacity: 100;
    visibility: visible;
  }

  li.main-link a.a-links:hover{
    background-color: #242526;
    border-radius: 0;
    color: #ffffff;
    border-bottom: solid 4px #84bc22;
    padding-bottom: 1.5rem;
  }

  li.main-link a.a-links i{
    visibility: hidden;
    opacity: 0;
  }

  li.main-link a.a-links:hover i{
    visibility: visible;
    opacity: 100;
    color: gray;
    background-color: transparent;
  }

  ul#product-col a:hover{
    color:#84bc22;
  }

  ul#sale-col a:hover{
    color:#84bc22;
  }

  .mega-box .content{
    background: #242526;
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mega-box a{
    background: #242526;
}

.mega-box header{
    background: #242526;
    padding-left: 3.50rem;
    padding-bottom: 1rem;
    color: #ffffff;
    font-weight: 800;
}

#sale-col a{
    color: #ffffff;
}

#product-col a{
    color: #ffffff;
}
/* Display product categories in a grid*/
#product-col{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background: #242526;
}

/* Display sales in a grid*/
#sale-col{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    background: #242526;
}

.row:nth-child(3){
    background: #242526;
}

.row img{
    background: #242526;
    border-radius: 5px;
}

li form {
    position: absolute;
    display: block;
    opacity: 0;
    visibility: hidden;
}

li:hover form {
    opacity: 100;
    visibility: visible;
}

li form input, li form label{
    display: inline-flex;
}
li form{
    padding-left: 1rem;
}

.mobile-item{
    display: none;
}

#showDrop{
    display: none;
}


#showCategories,
#showSale{
    display: none;
}

.btn{
    display: none;
}

input[type='radio']{
    display: none;
}

@media screen and (max-width: 1280px){
    .wrapper .nav-links{
        background-color: #242526;
        position: fixed;
        height: 100%;
        width: 100%;
        max-width: 250px;
        display: block;
        top: 0;
        left: -100%;
        overflow-y: auto;
        line-height: 50px;
        padding: 50px 50px;
    }
    .wrapper .nav-links li{
        margin: 15px 10px;
        background-color: #242526;
        position: static;
        display: block;
    }
    .nav-links .mobile-item{
        display: block;
        cursor: pointer;
        background-color: #242526;
        color: white;
    }

    .desktop-item{
        display: none;
    }

    .nav-links li .mega-box:hover{
        visibility: visible;
    }

    .nav-links li .mega-box{
        display: block;
        position: static;
        visibility: visible;
        opacity: 100;
    }

    /* Hide contents when service is checked*/
    #showDrop:checked ~ .mega-box{
        display: none;
    }

    /* Hide down caret when clicked */
    #showDrop:checked ~ label i.fa-caret-up,
    #showCategories:checked ~ label i.fa-caret-up,
    #showSale:checked ~ label i.fa-caret-up{
        display: none;
    }

    #showDrop:checked ~ label i.fa-caret-down,
    #showCategories:checked ~ label i.fa-caret-down,
    #showSale:checked ~ label i.fa-caret-down{
        display: inline-block;
    }

    /* Hide up caret when not clicked */
    #showDrop ~ label i.fa-caret-up,
    #showCategories ~ label i.fa-caret-up,
    #showSale ~ label i.fa-caret-up{
        display: inline-block;
    }

    #showDrop ~ label i.fa-caret-down,
    #showCategories ~ label i.fa-caret-down,
    #showSale ~ label i.fa-caret-down{
        display: none;
    }


    .wrapper input{
        display: none;
    }

    .nav-links a.a-links{
        background-color: #242526;
        color: #ffffff;
        padding-left: 0;
    }

    /* Hide lang, curr and the icons*/
    .nav-links li:nth-child(6),
    .nav-links li:nth-child(7),
    .nav-links li:nth-child(8),
    .nav-links li:nth-child(9),
    .nav-links li:nth-child(10),
    .nav-links li:nth-child(11){
        display: none;
    }
      
    /* Get rid of previous hover effects*/
    li.main-link a.a-links:hover{
        background-color: #242526;
        border-radius: 0;
        color: #ffffff;
        border-bottom: solid 0 #242526;
        padding-bottom: 0;
    }

    /* Mega box */

    .mega-box .content{
        position: relative;
        display: block;
        line-height: normal;
        overflow: hidden;
        width: auto;
        height: 100%;
        padding: 0 0 0 1rem;
    }

    .mega-box .content header{
        display: none;
    }

    .mega-box .content #sale-col{
        padding: 0;
    }

    #product-col,
    #product-sale{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    
    .mega-box img{
        display: none;
    }

    /*Don't display links when categories and sales is clicked*/
    #showCategories:checked ~ .mega-links,
    #showSale:checked ~ .mega-links{
        display: none;
    }


    .row label.mobile-item {
        padding: 1rem 0 1rem 0;
    }

    /* Dropdown icons*/

    label i.fa-caret-down{
        background-color: transparent;
        color: #45413e;
        padding-left: 5px;
    }

    label i.fa-caret-up{
        background-color: transparent;
        color: #45413e;
        padding-left: 5px;
    }

    label i.fa-xmark{
        background-color: transparent;
        color: #ffffff;
    }
    .close-btn{
        background-color: transparent;
        position: absolute;
        right: 30px;
        top: 10px;
    }

    #menu-btn:checked ~ .nav-links{
        left: 0%;
    }
    
    #menu-btn:checked ~ .btn{
        display: none;
    }

    .btn{
        display: block;
        cursor: pointer;
    }

    .menu-btn{
        position: absolute;
        left: 50px;
        top: 40px;
    }

    input[type='radio']{
        display: none;
        cursor: pointer;
    }
}

/* Navbar mobile screens */

@media screen and (min-width: 320px) and (max-width: 768px){
    .wrapper .nav-links{
        background-color: #242526;
        position: fixed;
        height: 100%;
        max-width: 100%;
        display: block;
        top: 0;
        left: -150%;
        overflow-y: auto;
        line-height: 50px;
        padding: 50px 50px;
    }

    .close-btn{
        background-color: transparent;
        position: absolute;
        left: 30px;
        top: 10px;
    }
}

.footer-icons{
    display: none;
}


/* FOOTER */ 

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20rem;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 2rem;
}

footer ul{
    list-style-type: none;
    text-decoration: none;
    padding: 0;
}

footer ul li a{
    text-decoration: none;
    color: #45413e;
}

footer ul li a:hover{
    color: black;
}

footer .brands li{
    display: inline;
}

#copyright,
footer .contact,
footer .categories,
footer .about{
    color: #45413e;
    font-family: 'Lato';
    font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    line-height: 30px;
}

#copyright{
    padding-bottom: 1rem;
}

footer header{
    padding-bottom: 1rem;
    font-weight: 800;
}

footer .categories{
    width: auto;
    display: flex;
    flex-direction: column;
}

footer .categories ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

footer .categories ul li{
    padding-right: 2rem;
    color: #45413e;
    opacity: 0.7;
    padding-left: 2rem;
}

footer .contact ul li:nth-child(4),
footer .contact ul li:nth-child(5){
    padding-top: 1rem;
}

footer .categories header{
    padding-left: 2rem;
}

footer .brands li a{
    opacity: 0.5;
    color: #45413e;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

footer .about li a{
    color: #45413e;
    opacity: 0.7;
}

footer input{
    display: none;
}

.footer-item{
    display: none;
}

.footer-main{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    bottom: 0;
}

/* Footer Medium screens*/

@media screen and (max-width: 1280px){
    footer .categories ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }

    footer .categories ul li{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    footer .brands li{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

/* Footer Mobile screens*/

@media screen and (min-width: 320px) and (max-width: 768px){
    footer {
        position: absolute;
        bottom: 5rem;
        width: 100%;
        height: 17rem;
        background-color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding-top: 2rem;
        overflow: visible;
        overflow-y: auto;
        }

    footer input{
        display: none;
    }

    footer .contact ul,
    footer header,
    footer .about ul,
    footer .categories ul{
        display: none;
    }

    .footer-item{
        display: block;
    }

    #showContact:checked ~ .contact-links,
    #showAbout:checked ~ .about-links,
    #showFooterCategories:checked ~ .categories-links{
        display: block;
    }

    footer .brands ul{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem;
        flex-wrap: nowrap;
    }

    footer .brands ul li{
        padding: 0.5rem;
    }

    .footer-main{
        display: inline-block;
        width: 60%;
        bottom: 0;
    }

    footer .contact ul li{
        padding-left: 1rem;
    }

    footer label{
        padding-bottom: 1rem;
        width: 100%;
    }

    footer .about ul li{
        padding-left: 1rem;
    }

    footer .contact,
    footer .about,
    footer .categories{
        display: block;
        position: static;
    }

    /* FOOTER shopping icons */

    .footer-icons{
        height: 5rem;
        background-color: #242526;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 100; 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        line-height: 50px;
    }

    footer .footer-icons-list{
        background-color: transparent;
        height: 5rem;
        line-height: normal;
        display: flex;
        flex-direction: row;
        flex-basis: fill;
    }

    footer .footer-icons-list li{
        padding: 2rem;
        align-items: center;
        background-color: #242526;
    }

    footer .footer-icons-list li a{
        background-color: transparent;
        color: #a5a5a5;
    }

    footer .footer-icons-list li a i{
        background-color: transparent;
    }


    /* FOOTER Caret down styles*/
    footer label i.fa-caret-down{
        color: #a5a5a5;
    }

    footer .contact label i.fa-caret-down{
        padding-left: calc(95% - 80px);
    }
    footer .categories label i.fa-caret-down{
        padding-left: calc(95% - 103px);
    }
    footer .about label i.fa-caret-down{
        padding-left: calc(95% - 60px);
    }

    /* FOOTER Caret up styles*/
    footer label i.fa-caret-up{
        color: #a5a5a5;
    }

    footer .contact label i.fa-caret-up{
        padding-left: calc(95% - 80px);
    }
    footer .categories label i.fa-caret-up{
        padding-left: calc(95% - 103px);
    }
    footer .about label i.fa-caret-up{
        padding-left: calc(95% - 60px);
    }


    /* Hide down caret when clicked */
    #showContact:checked ~ label i.fa-caret-down,
    #showFooterCategories:checked ~ label i.fa-caret-down,
    #showAbout:checked ~ label i.fa-caret-down{
        display: none;
    }

    #showContact:checked ~ label i.fa-caret-up,
    #showFooterCategories:checked ~ label i.fa-caret-up,
    #showAbout:checked ~ label i.fa-caret-up{
        display: inline-block;
    }

    /* Hide up caret when not clicked */
    #showContact ~ label i.fa-caret-down,
    #showFooterCategories ~ label i.fa-caret-down,
    #showAbout ~ label i.fa-caret-down{
        display: inline-block;
    }

    #showContact ~ label i.fa-caret-up,
    #showFooterCategories ~ label i.fa-caret-up,
    #showAbout ~ label i.fa-caret-up{
        display: none;
    }
}