*{
    font-size: 16px;
    margin: 0;
    background-color: white;
}

/* ----- HEADER -----*/

/* LOGO */
.logo img{
    width: 10rem;
}

.logo{
    padding: 0.3rem;
}

/* Main navigation */
nav{
    background-color: white;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.nav-links,
.feature-links,
.icon-links{
    text-decoration: none;
    list-style-type: none;
    width: auto;
    font-size: 1rem;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

nav .wrapper{    
    display: flex;
    align-items: center;
    justify-content: center;
  }

nav .wrapper ul li a{
    list-style-type: none;
    text-decoration: none;
    padding: 1rem 1rem 1.65rem 1rem;
    color: #45413e;
    font-family: 'Lato';
}

.feature-links li a,
.icon-links i{
    opacity: 0.70;
    color: gray;
}

nav .wrapper a.a-links:hover{
    background-color: #262a32;
    border-bottom: solid 3px #84bc22;
    color: white;
}

/* Mega menu */ 

.mega-box{
    width: 100%;
    height: auto;
    background-color: #262a32;
    position: absolute;
    top: 4.7rem;
    left: 0;
    line-height: 2rem;
}

.mega-box .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #262a32;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

nav .row ul li{
    list-style-type: none;
    text-decoration: none;
    color: #262a32;
    font-family: 'Lato';
    background-color: #262a32;
}

nav .row ul li a{
    line-height: 1.9rem;
    color: #262a32;
    font-family: 'Lato';
    text-decoration: none;
    color: white;
    background-color: #262a32;
}

nav .row ul li a:hover{
    color: #84bc22;
}

nav .row header{
    font-size: 1rem;
    font-family: 'Lato';
    font-weight: 700;
    color: white;
    background-color: #262a32;
    padding-bottom: 1rem;
}

nav .mega-box .content .row{
    padding-right: 6rem;
    background-color: #262a32;
} 

nav .mega-box .content :nth-child(3){
    padding-right: 0;
} 

nav .row img{
    border-radius: 0.5rem;
}

#product-col{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    padding-left: 0;
    column-gap: 6rem;
    background-color: #262a32;
}

#sale-col{
    padding-left: 0;
}

.fa-solid.fa-caret-down,
.fa-solid.fa-x{
    background-color: transparent;
}

.fa-solid.fa-bars,
.fa-solid.fa-x{
    display: none;
}

/* Responsive Menu */

@media screen and (max-width: 1280px){
    
    .nav-links,
    .feature-links,
    .icon-links,
    .mega-box{
        display: none;
    }

    .fa-solid.fa-bars{
        display: block;
        position: absolute;
        top: 2.3rem;
        left: 2rem;
        cursor: pointer;
    }

    .fa-solid.fa-x{
        display: none;
        position: absolute;
        top: 2.3rem;
        left: 17rem;
        cursor: pointer;
        color: white;
        z-index: 99;
    }

    .nav-links li{
        background-color: #262a32;
    }

    .nav-links li a.a-links{
        background-color: #262a32;
        color: white;
    }


    /* Mobile menu*/

    .mobile-menu{
        background-color: #262a32;
        padding: 2rem;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        height: 100vh;
        line-height: 4rem;
        z-index: 98;
    }

    .mobile-mega{
        display: block;
        position: static;
        overflow: auto;
    }

}