*{
    font-size: 16px;
    margin: 0;
    background-color: white;
}


/* LOGO */
.logo img{
    width: 10rem;
}

.logo{
    padding: 1rem;
}

/* Navigation */
nav{
    background-color: #a5a5a5;
    position: fixed;
    z-index: 99;
    width: 100%;
}

.nav-links{
    text-decoration: none;
    list-style-type: none;
    width: auto;
    color: #45413e;
    font-family: 'Lato';
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}

nav .wrapper{    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapper .nav-links{
    display: inline-flex;
  }

  .nav-links li a{
    color: #45413e;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .nav-links li i.fa-magnifying-glass{
    padding-left: 4rem;
  }

  .nav-links li:first-child{
    padding-left: 4rem;
  }

  .nav-links li i,
  li:nth-child(5),
  li:nth-child(6){
    opacity: 0.70;
    color: gray;
  }

  /* Mega-box menu */

  .mega-box{
    position: absolute;
    left: 0;
    width: 100%;
    top: 85px;
    padding: 0;
 /* opacity: 0;
    visibility: hidden; */
  }

  .mega-box .content{
    background: #242526;
    padding: 2rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

/* Display product categories in a grid*/
#product-col{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* Display sales in a grid*/
#sale-col{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}